@import "tailwindcss";

:root {
  --background: #0B0B0F;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cards: #111118;
  --color-primary: #7C5CFF;
  --color-text-main: #FFFFFF;
  --color-text-secondary: #B0B0B0;
  --color-accent: #00FFD1;
  --font-body: var(--font-inter);
  --font-heading: var(--font-bebas);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0B0F;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
